<div class="app">
  <nav class="flex justify-between bg-gray-800 text-white max-w-full">
    <div class="px-5 xl:px-12 py-6 flex w-full items-center">
      <a
        routerLink="/mainUI"
        class="text-3xl font-bold font-heading flex flex-auto ml-12"
        href="#"
      >
        <img
          class="h-9 absolute -ml-12 bg-yellow-500"
          src="http://cdn.onlinewebfonts.com/svg/img_93607.png"
          alt="logo"
        />
        FreeMarket
      </a>
      <!-- Nav Links -->
      <ul
        class="
          hidden
          md:flex
          px-4
          mx-auto
          text-yellow-500
          font-semibold font-heading
          space-x-8
          mr-24
        "
      >
        <li>
          <a routerLink="/mainUI" class="hover:text-gray-200" href="#">Home</a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn" class="hover:text-gray-200" routerLink="/login"
            >Login</a
          >
          <a *ngIf="isLoggedIn" class="hover:text-gray-200" (click)="logout()"
            >Logout</a
          >
        </li>
        <li>
          <a
            *ngIf="!isLoggedIn"
            routerLink="/join"
            class="hover:text-gray-200"
            href="#"
            >Join</a
          >
        </li>
      </ul>
      <!-- Header Icons -->
      <div class="hidden xl:flex items-center space-x-5 items-center">
        <a *ngIf="isLoggedIn" class="hover:text-yellow-500" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
            />
          </svg>
        </a>
        <a *ngIf="isLoggedIn" class="flex items-center hover:text-yellow-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          <span class="flex absolute -mt-5 ml-4">
            <span
              class="
                animate-ping
                absolute
                inline-flex
                h-3
                w-3
                rounded-full
                bg-pink-400
                opacity-75
              "
            ></span>
            <span
              class="relative inline-flex rounded-full h-3 w-3 bg-yellow-500"
            >
            </span>
          </span>
        </a>
        <!-- Sign In / Register      -->
        <a
          *ngIf="isLoggedIn"
          routerLink="/profile"
          class="flex items-center hover:text-gray-200"
          href="#"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 hover:text-yellow-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </div>
    </div>
    <!-- Responsive navbar -->
    <a *ngIf="isLoggedIn" class="xl:hidden flex mr-6 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:text-gray-200"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        />
      </svg>
      <span class="flex absolute -mt-5 ml-4">
        <span
          class="
            animate-ping
            absolute
            inline-flex
            h-3
            w-3
            rounded-full
            bg-red-900
            opacity-75
          "
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-900">
        </span>
      </span>
    </a>
    <a *ngIf="isLoggedIn" class="navbar-burger self-center mr-12 xl:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:text-gray-200"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </a>
  </nav>

  <router-outlet></router-outlet>
  <!-- <div >
  <style>
    .app{
    /*
      background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
    */
    background: url('https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  </style>
  </div> -->
</div>
