<style>
  .div {
    background: url("https://i.redd.it/iibrptucse951.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  section {
    height: 80vh;
  }

  .search-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' d='M18.109,17.776l-3.082-3.081c-0.059-0.059-0.135-0.077-0.211-0.087c1.373-1.38,2.221-3.28,2.221-5.379c0-4.212-3.414-7.626-7.625-7.626c-4.212,0-7.626,3.414-7.626,7.626s3.414,7.627,7.626,7.627c1.918,0,3.665-0.713,5.004-1.882c0.006,0.085,0.033,0.17,0.098,0.234l3.082,3.081c0.143,0.142,0.371,0.142,0.514,0C18.25,18.148,18.25,17.918,18.109,17.776zM9.412,16.13c-3.811,0-6.9-3.089-6.9-6.9c0-3.81,3.089-6.899,6.9-6.899c3.811,0,6.901,3.09,6.901,6.899C16.312,13.041,13.223,16.13,9.412,16.13z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
    background-size: 0.9rem 1.25rem;
  }
</style>

<div class="grid grid-cols-5  grid-rows-2 min-h-screen">
  <div class="col-start-3 col-end-6 row-start-1 row-end-4 mt-8 h-96 gap-6 mr-48">
    <!-- <section class="shadow-xl rounded-md w-full lg:w-11/12 lg:mx-auto"> -->

    <!-- Middle section -->
    <div
      class="
        w-100%
        h-3/4
        flex
        justify-center
        items-stretch
        border-r-0 border-l-0
        lg:rounded-r-md
        xl:rounded-none
        ml-28
        gap-4
      "
    >
   
   
    {{Announces | json}}
     
      <!--Card 1-->
      <div class="transform hover:scale-110 rounded overflow-hidden shadow-lg">
        <img
          class="w-full"
          src="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/news/featured_media/48835889383_c5959fd02c_o.jpg?X1tupMMwIIblrefeeWgXSO43YI0TsDZ9&itok=x5usRWQ9"
          alt="Forest"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Forest</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#photography</span
          >
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#travel</span
          >
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#fall</span
          >
        </div>
      </div>
      <div class="transform hover:scale-110 rounded overflow-hidden shadow-lg">
        <img
          class="w-full"
          src="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/news/featured_media/48835889383_c5959fd02c_o.jpg?X1tupMMwIIblrefeeWgXSO43YI0TsDZ9&itok=x5usRWQ9"
          alt="Forest"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Forest</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#photography</span
          >
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#travel</span
          >
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >#fall</span
          >
        </div>
      </div>
    </div>
    <!-- </section> -->
  </div>
  <!-- Left section -->
  <!-- component -->
  <div class="leading-loose col-start1 col-end-2">
    <form
      class="w-96 m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl"
      #heroForm="ngForm"
    >

      <p class="text-gray-800 font-medium">Product information</p>
      <div class="">
        <label class="block text-sm text-gray-00" for="cus_name"></label>
        <input
          class="w-full px-5 py-1 text-gray-700 bg-white rounded"
          id="productInfo"
          name="productInfo"
          type="text"
          required=""
          [(ngModel)]="data.productInfo"
        />
      </div>
      <div class="mt-2 text-gray-800 font-medium">
        <label for="cars">Category</label>
        <select
          name="category"
          id="category"
          class="w-full px-2 py-2 text-gray-700 bg-white rounded"
          [(ngModel)]="data.category"
        >
          <option value="Houses">Houses</option>
          <option value="Cars">Cars</option>
          <option value="phones">Phones</option>
        </select>
      </div>

    

      <div class="mt-2">
        <label class="text-gray-800 font-medium" for="cus_email">Address</label>
        <input
          class="w-full px-2 py-2 text-gray-700 bg-white rounded"
          id="address"
          name="cus_email"
          type="text"
          required=""

          [(ngModel)]="data.address"

        />
      </div>
      <div class="mt-2">
        <label class="text-gray-800 font-medium" for="cus_email"
          >Mobile Number</label
        >
        <label class="hidden text-sm block text-gray-600" for="cus_email"
          >mobile number</label
        >
        <input
          class="w-full px-2 py-2 text-gray-700 bg-white rounded"
          id="phoneNumber"
          name="phoneNumber"
          type="text"
          required=""
          
        />
      </div>
      <div class="mt-2">
        <label class="text-gray-800 font-medium" for="cus_email"
          >Image Url</label
        >
        <label class="hidden text-sm block text-gray-600" for="cus_email"
          >image</label
        >
        <input
          class="w-full px-2 py-2 text-gray-700 bg-white rounded"
          id="imageUrl"
          name="imageUrl"
          type="text"
          required=""
          [(ngModel)] = "data.imageUrl"
          

        />
      </div>
     
      <!-- component -->
      <div class="flex flex-col">
        <label for="price" class="text-gray-800 font-medium">Price</label>
        <div class="flex flex-row">
          <span
            class="
              flex
              items-center
              bg-grey-lighter
              rounded rounded-r-none
              px-3
              font-bold
              text-grey-darker
            "
            >$</span
          >
          <input
            type="number"
            name="price"
            class="w-full px-2 py-2 text-gray-700 bg-white rounded"
            id="price"
            [(ngModel)]="data.price"
          />
        </div>
        <button
          class="
            p-2
            pl-5
            pr-5
            transition-colors
            duration-700
            transform
            bg-gray-800
            hover:bg-yellow-600
            text-gray-100 text-lg
            rounded-lg
            focus:border-4
            border-indigo-300
          "
          (click) = "onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
